@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  margin: 0;
  padding: 0;
  font-size: 62, 5%;
}

:root {
  --oscuro: #302B2B;
  --medio: rgb(136, 134, 133);
  --claro: rgb(235, 229, 225);
  --oscuroT: #302b2bef;
  --naranja: rgb(248, 156, 43);
  --sombra: 7px 7px 9px -5px rgba(94,94,94,0.67);
}

body {
  background: var(--claro);
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-family: "Russo One", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.logoSnack {
  max-width: 220px;
  position: absolute;
  left: 22px;
  z-index: 110;
  top: 5px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--oscuroT);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 75px;
  padding: 1em;
  position: fixed;
  width: 100vw;
  z-index: 200;
  border-bottom: 10px solid rgba(90, 90, 90, 0.63);
}

.boton__res {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  z-index: 180;
  color: var(--claro);
  transition: all 0.5s;
  font-size: 1rem;
}
.boton__res:hover {
  color: rgb(228, 228, 228);
  font-size: 1.15rem;
}

.menu-nav {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-top: 25px;
}

.menu-nav > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu-nav {
    position: absolute;
    top: 20px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu-nav li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu-nav li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-nav > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu-nav > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/* home new */
.home__ristrel {
  height: 100vh;
  background: linear-gradient(rgba(46, 45, 45, 0.3), var(--oscuroT)), url("../images/fondo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 7px 7px 9px -5px rgba(94, 94, 94, 0.67);
}
.home__ristrel .logo__homep {
  height: 700px;
  max-width: 800px;
  padding-top: 150px;
}
.home__ristrel .home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  color: var(--claro);
  text-shadow: 1px 1px 2px var(--oscuro);
  height: 100%;
  width: 100vw;
  font-size: 1.5rem;
  position: relative;
}
.home__ristrel .home__container .main__title {
  display: none;
}
.home__ristrel .home__container .flecha__container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 40vh;
  align-items: flex-end;
  justify-content: center;
  align-content: flex-end;
  text-decoration: none;
}
.home__ristrel .home__container .flecha {
  color: var(--claro);
  font-size: 50px;
  text-align: center;
}

.us, .us__2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  background: var(--claro);
  padding-bottom: 10px;
  padding-top: 40px;
  box-shadow: 7px 7px 9px -5px rgba(94, 94, 94, 0.67);
}

.us {
  margin-top: 15px;
}
.us h2 {
  font-size: 4.5rem;
}

.us__2 {
  background: var(--oscuro);
  flex-direction: row-reverse;
}
.us__2 h2 {
  font-size: 2.5rem;
  color: var(--claro);
  margin-bottom: 15px;
  text-align: center;
}
.us__2 p {
  color: var(--claro);
}
.us__2 .us__container2 {
  height: 350px;
  width: clamp(350px, 40%, 45%);
  background: url("../images/viejo.jpg");
  background-size: cover;
  transition: all 1s;
  margin-bottom: 20px;
}
.us__2 .us__container2:hover {
  background: url("../images/snack.png");
  background-size: cover;
}

.us__container {
  min-height: 450px;
  width: clamp(450px, 40%, 45%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: 0 12px 0 12px;
}
.us__container p {
  font-size: 1.2rem;
}
.us__container .us__image__container {
  width: 95%;
  transition: width 1s;
  box-shadow: 7px 7px 9px -5px rgba(94, 94, 94, 0.4);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
}
.us__container .us__image__resto {
  border-radius: 50%;
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}
.us__container .subtitulo__nosotros {
  color: var(--medio);
  font-size: 2rem;
}

.resto__web {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 50PX;
  background: var(--oscuro);
}
.resto__web h2 {
  font-size: 6rem;
}
.resto__web h3 {
  font-size: 4rem;
}
.resto__web .resto__imgc {
  width: 800px;
}
.resto__web .us__container__resto {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: linear-gradient(rgba(87, 87, 87, 0.3), var(--oscuroT)), url("../images/bife.jpg");
  background-size: cover;
  box-shadow: var(--sombra);
}

.borde__us {
  width: 100vw;
  height: 30px;
  background: linear-gradient(rgba(46, 45, 45, 0.3), var(--oscuroT)), url("../images/fondo.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.resto__mov {
  height: 50vh;
  width: 100vw;
  background: linear-gradient(rgba(83, 83, 83, 0.699), var(--oscuroT)), url("../images/fondo.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--claro);
  margin-top: 0;
  display: none;
}
.resto__mov img {
  width: 400px;
}

.boton__home {
  background: var(--medio);
  width: 100px;
  height: 50px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: var(--claro);
  transition: all 0.5s;
  box-shadow: var(--sombra);
  border-radius: 5px;
  font-size: 1.5rem;
}
.boton__home:hover {
  background: rgb(44, 44, 44);
  color: white;
  width: 110px;
}

.titulo__eventos {
  display: flex;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: var(--claro);
}
.titulo__eventos p {
  font-size: 2.5rem;
  color: var(--medio);
  text-align: center;
}
.titulo__eventos h2 {
  font-size: 5rem;
  color: var(--oscuro);
}

.eventos {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
  background: var(--claro);
}
.eventos h2 {
  border-bottom: 10px solid var(--oscuro);
}
.eventos p {
  font-size: 2rem;
  text-align: center;
}
.eventos .eventos__container {
  min-height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background: var(--medio);
  justify-content: space-evenly;
  border-radius: 15px;
  border-bottom: 10px solid rgb(90, 90, 90);
  margin: 5px;
  padding: 20px;
  box-shadow: var(--sombra);
}
.eventos ul li {
  padding: 5px;
  font-size: 1.5rem;
}
.eventos h3 {
  color: var(--claro);
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
  color: var(--oscuro);
  padding-bottom: 10px;
  text-align: center;
}

.acordion__container {
  display: none;
}

h1 {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

.accordion dt > a {
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
}

.accordion dd {
  background-color: var(--medio);
  color: #fafafa;
  font-size: 1em;
  line-height: 1.5em;
}

.accordion dd > p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
  background-color: var(--claro);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.accordionTitle {
  background-color: var(--oscuro);
  border-bottom: 1px solid #2c3e50;
}

.accordionTitle:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.accordionTitle:hover {
  background-color: var(--oscuro);
}

.accordionTitleActive {
  background-color: black;
}

.accordionTitleActive:before {
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
}
.accordionItem h3 {
  padding-top: 10px;
  color: var(--oscuro);
  font-size: 1.8rem;
  text-align: center;
}
.accordionItem li {
  font-size: 1rem;
}

@media all {
  .accordionItem {
    max-height: 50em;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}
.accordionItemCollapsed {
  max-height: 0;
}

.animateIn {
  -webkit-animation-name: accordionIn;
  -webkit-animation-duration: 0.65s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: normal;
  -moz-animation-duration: 0.65s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionIn;
  animation-duration: 0.65s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.animateOut {
  -webkit-animation-name: accordionOut;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: accordionOut;
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionOut;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes accordionIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes accordionOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
/* actividades */
.actividad {
  margin-top: 15px;
  padding: 5rem 0 10rem 0;
  background: linear-gradient(rgba(148, 148, 148, 0.2), rgba(0, 0, 0, 0.5));
  box-shadow: 7px 7px 9px -5px rgba(94, 94, 94, 0.67);
}

.actividad h2 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  color: var(--oscuro);
}

.actividad__container {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.actividad__container img {
  display: block;
  width: 100%;
  margin: auto;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.img-container {
  margin: 0 1rem;
  position: relative;
}

.img-container img {
  box-shadow: 7px 7px 9px -5px rgba(94, 94, 94, 0.67);
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: #fff;
  font-size: 2.2rem;
}

.img-content a {
  font-size: 1.2rem;
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;
  border-radius: 10px;
  text-align: center;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

.cumples__snack {
  background: linear-gradient(rgba(243, 227, 196, 0.541), rgba(236, 163, 28, 0.829));
  font-family: "DynaPuff", cursive;
}
.cumples__snack .titulo__cumples {
  display: flex;
  padding-top: 120px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: red;
}
.cumples__snack .titulo__cumples h2 {
  font-size: 4.5rem;
  color: var(--oscuro);
}
.cumples__snack .titulo__cumples .img__cumple {
  max-width: 150px;
  transform: rotate(-25deg);
  transition: transform 1s;
}
.cumples__snack .cumples {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-bottom: 20px;
}
.cumples__snack .cumples h2 {
  border-bottom: 3px solid var(--oscuro);
  color: var(--oscuro);
  text-align: center;
}
.cumples__snack .cumples h3 {
  color: var(--naranja);
  font-size: 1.8rem;
  padding-top: 3rem;
  font-family: "Russo One", sans-serif;
  text-align: center;
}
.cumples__snack .cumples .cumples__container {
  min-height: 460px;
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background: white;
  justify-content: space-evenly;
  box-shadow: var(--sombra);
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}
.cumples__snack .cumples .cumples__container li {
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.2s;
  color: var(--oscuro);
  font-family: "Russo One", sans-serif;
}
.cumples__snack .cumples .cumples__container li::hover {
  color: var(--medio);
}

.menu__cumples {
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.menu__cumples h3 {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  text-align: center;
}
.menu__cumples ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 2rem;
  width: 100%;
  margin: 0;
}
.menu__cumples ul li {
  background: var(--naranja);
  border-radius: 5px;
  color: white;
  height: 4rem;
  width: 15.5rem;
  font-size: 2rem;
  text-align: center;
  transition: all 0.5s;
  padding: 5px;
  margin: 5px;
  box-shadow: var(--sombra);
  cursor: pointer;
}
.menu__cumples ul li:hover {
  background-color: white;
  height: 4.3rem;
  width: 15.8rem;
  color: orange;
}

.animation__pin {
  display: flex;
  position: relative;
  z-index: 50;
  height: 160px;
  background: var(--naranja);
  width: 100vw;
  top: 75px;
}

.animation__pin img {
  width: 150px;
  z-index: 60;
}

.titulo__kids {
  z-index: 30;
  position: absolute;
  display: flex;
  left: 110%;
  top: 20px;
  animation-name: tracking-in-expand;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  color: var(--oscuro);
  font-family: "Russo One", sans-serif;
}
.titulo__kids h2 {
  text-align: center;
  font-size: 90px;
  top: 0;
}

.titulo__kids2 {
  color: var(--claro);
  animation-name: tracking-in-expand;
}

.piso {
  width: 100vw;
  background: rgb(226, 226, 202);
  height: 60px;
  position: absolute;
  top: 100px;
  z-index: 10;
}

.lineas {
  border-bottom: 1px solid black;
  height: 5px;
  text-align: center;
  font-size: 30px;
}

.pin__jump {
  position: absolute;
  animation-name: saltar;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  z-index: 20;
}

.sombra__pin {
  position: absolute;
  width: 50px;
  height: 20px;
  background: rgba(39, 38, 38, 0.226);
  border-radius: 50px;
  z-index: -1;
  bottom: 0px;
  left: 40px;
}

.ball__roll {
  position: absolute;
  left: 85%;
  top: 32px;
  animation-name: girar;
  animation-duration: 4s;
  animation-delay: 0.3s;
  z-index: 30;
  animation-fill-mode: forwards;
  /* -webkit-animation: rodar 4s;
  animation: rodar 4s;
  */
}

.pin__happy {
  position: absolute;
  top: -100vh;
  animation-name: volver;
  animation-delay: 1.7s;
  animation-duration: 2.5s;
  animation-fill-mode: backwards;
  z-index: 40;
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 3s infinite both;
  animation: wobble-hor-bottom 3s infinite both;
  z-index: 70;
  height: 160px;
}

@keyframes girar {
  from {
    left: 85%;
  }
  to {
    left: -120px;
    transform: rotate(-1780deg);
  }
}
@keyframes saltar {
  100% {
    transform: translateY(-100vh);
  }
}
@keyframes volver {
  0% {
    top: -100vh;
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(40px);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(20px);
  }
  to {
    top: 0;
  }
}
.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

/* letras */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
    left: 10%;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(-2%);
    left: 20%;
  }
}
/* fin letras */
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@media (max-width: 800px) {
  .animation__pin img {
    width: 100px;
  }
  .animation__pin {
    height: 100px;
  }
  .ball__roll {
    /* top: 20px; */
  }
  .piso {
    top: 70px;
  }
  .ball__roll {
    animation-delay: 1s;
  }
  .titulo__kids {
    font-size: 30px;
  }
  .sombra__pin {
    bottom: 5px;
  }
  .titulo__kids h2 {
    font-size: 55px;
  }
}
.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "header" "galeria" "galeria" "galeria" "footer";
}

.galeria__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
  grid-area: galeria;
  background: var(--claro);
}

.galeria__titulo {
  text-align: center;
  padding-top: 100px;
}

.galeria__imagen {
  position: relative;
  box-shadow: 7px 7px 9px -5px rgba(94, 94, 94, 0.67);
}

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria__imagen:nth-child(1),
.galeria__imagen:nth-child(11) {
  grid-column-start: span 4;
  grid-row-start: span 3;
}

.galeria__imagen:nth-child(4),
.galeria__imagen:nth-child(5) {
  grid-row-start: span 3;
  grid-column-start: span 2;
}

.galeria__imagen:nth-child(6),
.galeria__imagen:nth-child(9),
.galeria__imagen:nth-child(3),
.galeria__imagen:nth-child(2),
.galeria__imagen:nth-child(10) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.galeria__imagen:nth-child(7),
.galeria__imagen:nth-child(8) {
  grid-row-start: span 2;
}

.grid__layout {
  display: grid;
  grid-template-areas: "header" "contacto" "footer";
  grid-template-rows: 70px 1fr 200px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 50px 15px;
  grid-area: contacto;
}

.container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: var(--sombra);
}

.left {
  background: linear-gradient(rgba(46, 45, 45, 0.3), var(--oscuroT)), url("../images/fondo2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

.titulo__contacto {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.titulo__contacto:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: var(--oscuro);
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--oscuro);
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--medio);
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}
.titulo__historia {
  padding-top: 100px;
  text-align: center;
}
.titulo__historia h2 {
  font-size: 5rem;
  color: #302B2B;
}
.titulo__historia h3 {
  font-size: 3rem;
  color: rgb(136, 134, 133);
  margin-top: 0;
}

.timeline {
  padding-top: 100px;
  position: relative;
}
.timeline::before {
  content: "";
  background: #777373;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container__timeline {
  min-width: 300px;
  min-height: 300px;
  padding: 15px;
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #302B2B;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item:nth-child(1) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../images/timeline/10.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(2) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../images/timeline/7.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(3) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../images/timeline/8.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(4) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../images/timeline/11.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(5) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../images/timeline/3.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(6) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("../images/timeline/4.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(7) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("../images/timeline/2.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(8) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../images/timeline/1.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(9) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/timeline/9.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(10) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url("../images/timeline/13.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(11) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/timeline/14.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(12) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url("../images/timeline/15.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 300px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-size: 3rem;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #302B2B;
  padding: 0 20px;
}

.date {
  background: #302B2B;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-img-header h2 {
    font-size: 2rem;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
.footer {
  bottom: 0;
  background: var(--oscuro);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  grid-area: footer;
  text-align: center;
}
.footer .footer__info {
  color: var(--medio);
  display: flex;
  flex-direction: column;
}
.footer .footer__info a {
  text-decoration: none;
  color: var(--medio);
  font-size: 1.5rem;
}
.footer .footer__info a:nth-child(2) {
  color: var(--claro);
}
.footer .footer__redes {
  font-size: 30px;
}
.footer .footer__redes a {
  text-decoration: none;
  color: var(--claro);
  padding: 10px;
}
.footer .footer__redes i {
  transition: transform 0.6s;
}
.footer .footer__redes i:hover {
  transform: rotate(360deg);
}

.bola {
  width: 55px;
  position: absolute;
  left: 50%;
  transition: all 3s;
  top: 12px;
  animation-name: rodar;
  animation-delay: 0.5s;
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
  z-index: 160;
}

.bola:active {
  left: 50%;
  transform: rotate(-1080deg);
}

.palo {
  width: 55px;
  position: absolute;
  left: -15px;
  transition: all 1s;
  animation-name: caer;
  animation-delay: 3.9s;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
  z-index: 150;
  top: 5px;
}

.palo:active {
  left: -30px;
  transform: rotate(90deg);
  top: 4px;
}

@keyframes rodar {
  from {
    left: 50%;
  }
  to {
    left: -24px;
    transform: rotate(-1780deg);
    display: none;
  }
}
@keyframes caer {
  from {
    left: -15px;
  }
  to {
    left: -30%;
    transform: rotate(-190deg);
    display: none;
  }
}
/* ANIMACION ATENCION */
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 3s infinite both;
  animation: wobble-hor-bottom 3s infinite both;
}

@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media only screen and (max-widht: 500px) {
  .nav {
    display: none;
  }
}
@media (max-width: 800px) {
  .nav {
    display: none;
  }
  .nav__responsive {
    display: flex;
  }
  .titulo_p img {
    width: 350px;
    height: 77px;
    /* display: none; */
  }
  .boton__nav {
    font-size: 1.6rem;
    padding: 10px;
  }
  .boton__nav:hover {
    font-size: 1.7rem;
  }
  .img-container {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  }
  .home__page {
    height: 60vh;
  }
  .home__container .flecha {
    padding-bottom: 50px;
  }
  .home__container .borde__us {
    display: none;
  }
}
@media (max-width: 1400px) {
  .acordion__container {
    display: flex;
  }
  .eventos {
    display: none;
  }
}
@media (max-width: 950px) {
  .bola {
    animation-duration: 3s;
  }
  .palo {
    animation-duration: 3s;
    animation-delay: 2.5s;
  }
  .logoSnack {
    left: 26px;
  }
  .actividad__container {
    flex-wrap: wrap;
  }
  .home__ristrel {
    height: 100vh;
  }
  .actividad {
    display: none;
  }
  .resto__web {
    display: none;
  }
}
@media (max-width: 700px) {
  .resto__mov {
    display: flex;
  }
  .logo__homep {
    height: 300px;
    width: 400px;
  }
  .image__resto {
    height: 280px;
  }
  .bola {
    animation-duration: 3s;
    right: -10px;
  }
  .palo {
    animation-duration: 3s;
    animation-delay: 2.4s;
  }
  @keyframes rodar {
    from {
      left: 100%;
    }
    to {
      left: -18px;
      transform: rotate(-730deg);
      display: none;
    }
  }
  .titulo__cumples h2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .galeria__imagen:nth-child(10) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  .galeria__imagen:nth-child(3),
.galeria__imagen:nth-child(5),
.galeria__imagen:nth-child(8),
.galeria__imagen:nth-child(11) {
    grid-row-start: span 2;
    grid-column-start: span 4;
  }
  .galeria__imagen:nth-child(4),
.galeria__imagen:nth-child(2) {
    grid-column-start: span 3;
    grid-row-start: span 2;
  }
  .titulo__eventos p {
    font-size: 1.5rem;
  }
}
@media (min-width: 900px) {
  .nav__responsive {
    display: none;
  }
  .actividad__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
}
@media (min-width: 1100px) {
  .card-group {
    display: none;
  }
  .novedades {
    display: none;
  }
}
/* CARDS*/
.card-body {
  background: rgb(53, 45, 43);
  color: rgb(235, 229, 225);
  text-align: center;
}

.card-body h5 {
  font-size: 2.5rem;
  font-weight: bolder;
}

.card-body p {
  font-size: 1.5rem;
}

.card-body .boton__card {
  text-decoration: none;
}

.formulario {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  justify-content: center;
}

.contacto {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  padding: 1.5rem;
  color: antiquewhite;
  align-items: center;
  font-size: 1.2rem;
  background-color: darkgray;
  margin-bottom: 140px;
}

.titulo__contacto {
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

/*fin FOOTER inicio GALERIA*/

/*# sourceMappingURL=sass.css.map */
