.bola{
    width: 55px;
    position: absolute;
    left: 50%;   
    transition: all 3s;
    top: 12px;
    animation-name: rodar;
    animation-delay: 0.5s;
    animation-duration: 4.5s;
    animation-fill-mode: forwards;
    z-index: 160;
}

.bola:active{
    left: 50%;
    transform: rotate(-1080deg);
}

// ANIMACIONES PALO Y BOL
.palo{
    width: 55px;
    position: absolute;
    left: -15px;   
    transition: all 1s;
    animation-name: caer;
    animation-delay: 3.9s;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    z-index: 150;
    top: 5px;
}

.palo:active{
    left:-30px;
    transform: rotate(90deg);
    top: 4px;
}



@keyframes rodar{
    from{
        left: 50%;
    }
    to{
        left: -24px;
        transform: rotate(-1780deg);
        display: none;
    }
}

@keyframes caer{
    from{
        left: -15px;
    }
    to{
        left: -30%;
        transform: rotate(-190deg);
        display: none;
    }
}

 /* ANIMACION ATENCION */
 .heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 3s infinite both;
	        animation: wobble-hor-bottom 3s infinite both;
}

  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  
