.cumples__snack{
    background: linear-gradient(rgba(243, 227, 196, 0.541),
    rgba(236, 163, 28, 0.829)); 

    .titulo__cumples{
        display: flex;
        padding-top: 100px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;  
        color: red;
        h2{
            font-size: clamp(4rem,4.5rem,6rem);
            color: var(--oscuro);
        }
        .img__cumple{
            max-width: 150px;
            transform: rotate(-25deg);
            transition: transform 1s;
        }
    }

    .cumples{
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 5px;
        padding-bottom: 20px;

        h2{
            border-bottom: 3px solid var(--oscuro);
            color: var(--oscuro);
        }

        h3{
            color: var(--naranja);
            font-size: 1.8rem;  
            padding-top: 3rem;
        }

        .cumples__container{
            min-height: 460px;
            width: clamp(400px,450px,700px);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            background: white;
            justify-content: space-evenly;
            box-shadow: var(--sombra);
            padding: 10px;   
            margin: 10px;
            border-radius: 15px;

            li{
                font-size: 1.3rem;
                cursor: pointer;
                transition: color 0.2s;
                color: var(--oscuro);
                    &::hover{
                        color: var(--medio);
                    }
            }
        }
    }
    
    
}



.menu__cumples{
    h3{
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        color: white;
        text-align: center;
    }
    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        padding-bottom: 5rem;
        padding-top: 2rem;
        li{
            background:var(--naranja);
            border-radius: 5px;
            color: white;
            height: 4rem;
            width: 15.5rem; 
            font-size: 2rem;
            text-align: center;
            transition: all 0.5s;
            padding: 5px;
            margin: 5px;
            box-shadow: var(--sombra);
            cursor: pointer;
                &:hover{
                    background-color: white;
                    height: 4.3rem;
                    width: 11.8rem;
                    color: orange;
                }
        }
    }
}

