
.acordion__li2{
  font-size: 1.2rem !important; 
  padding-left: 50px !important;
  i{
    color: white;
    font-size: 1.2rem;
  }
}

.titulo__eventos{
    padding-top: 100px;
    @include centrarcajas;
    background: var(--claro);

    p{
        font-size: 2rem;
        color: var(--medio);
        text-align: center;
     }

     h2{
        font-size: 5rem;
        padding-bottom: 15px;
        color: var(--oscuro);
    }
    
}

// acrodion
.acordion__container{
  display: none;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
  padding-top: 25px;
  background-color: var(--claro);
}

.accordion dt > a {
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
}
.accordion dd {
  background-color: var(--medio);
  color:#fafafa;
  font-size: 1em;
  line-height: 1.5em;
  width: 80vw;

}
.accordion dd > p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
  background-color: var(--medio);
}

// .container 
.accordionTitle {
  background-color: var(--oscuro);
  border-bottom: 1px solid #2c3e50;
  width: 80vw;
  font-size: 1.4rem;
}
.accordionTitle:before {
  content: "+";
  font-size: 1.4em;
  line-height: 0.5em;
  float: left;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.accordionTitleActive:before {
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  h3{
    text-align: center;
    padding-top: 25px;
    font-size: 1.8rem;
    color: var(--oscuro);
  }
  h4{
    text-align: center;
    color: var(--claro);
  }
  ul{
    list-style: none;
    padding:5px;
    li{
      font-size: 1.4rem;
      color: var(--oscuro);
      padding: 10px;
    }
  }
}
@media all {
  .accordionItem {
    max-height: 70em;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
}


.accordionItemCollapsed {
  max-height: 0;
}


  
  
  
  .boton__acordion{
    width: 80vw;
    height: 140px;
    padding: 1.5rem;
    padding-top: 55px;
    background: var(--naranja);
    text-decoration: none;
    color: var(--oscuro);
    text-align: center;
    font-weight: bold ;
    font-size: 1.4rem;
    margin-bottom: 30px;
    &:hover{
      color: var(--claro);
    }
    
  }
