
.footer{
    bottom: 0;
    background:  var(--oscuro);
    align-content: center;
    flex-wrap: wrap;
    @include centrarcajas;
    padding: 20px;
    color: white;
    grid-area: footer;
    text-align: center;

    .footer__info{
        color: var(--medio);
        display: flex;
        flex-direction: column;
        a{
            text-decoration: none;
            color: var(--medio);
            font-size: 1.5rem;
        }
        a:nth-child(2){
            color: var(--claro);
        }
    }

    .footer__redes{
        font-size: 30px;

        a{
            text-decoration: none;
            color: var(--claro);
            padding: 10px;
        }
        i{
            transition: transform 0.6s;
                 &:hover{
                    transform: rotate(360deg);
                }
        }
    }
}

