  
@import url(https://fonts.googleapis.com/css?family=Raleway);


* {
    margin: 0;
    padding: 0;
    font-size: 62, 5%;
  }
  
  :root {
    --oscuro: #302B2B;
    --medio: rgb(136, 134, 133);
    --claro: rgb(235, 229, 225);
    --oscuroT:  #302b2bef;
    --naranja: rgb(250, 170, 73);
    --sombra: 7px 7px 9px -5px rgba(94,94,94,0.67);
  }
  
  body {
    background: var(--claro);
    height: 100%;
  }
  
  html {
    scroll-behavior: smooth;
    font-family: 'Russo One', sans-serif;
    font-family: "Raleway";
    
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
  }
  