$primary: #302B2B;
$dark-primary: rgb(136, 134, 133);;
$light-primary: #777373;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #FF4081;


.titulo__historia{
    padding-top: 100px;
    text-align: center;
    h2{
        font-size: 5rem;
        color: $primary;
    }
    h3{
        font-size: 3rem;
        color: $dark-primary;
        margin-top: 0;
    }
}

.timeline {
    padding-top: 100px;
	position: relative;

	&::before {
		content: '';
		background: $light-primary;
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.container__timeline{
    min-width: 300px;
    min-height: 400px;
    padding: 15px;

}
.timeline-item {
	width: 100%;
	margin-bottom: 70px;

	&:nth-child(even) {

		.timeline-content {
			float: right;
			padding: 40px 30px 10px 30px;

			.date {
				right: auto;
				left: 0;
			}

			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent #f5f5f5 transparent transparent;
			}
		}
	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}


.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #f5f5f5;
	}
}

.timeline-img {
	width: 30px;
	height: 30px;
	background: $primary;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}

.timeline-card {
	padding: 0!important;

	p {
		padding: 20px;
		font-size: 1.5rem;
		// text-align: center;
	}

	a {
		margin-left: 20px;
	}
}

.timeline-item:nth-child(1) {
  .timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0),
             rgba(0,0,0, .4)), url('../images/timeline/19.jpg') 
             center center no-repeat;
			background-size: cover;
		}				
}

.timeline-item:nth-child(2) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .6)), url('../images/timeline/7.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }		
			
  }

.timeline-item:nth-child(3) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .2)), url('../images/timeline/18.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }				
  }

  .timeline-item:nth-child(4) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .7)), url('../images/timeline/20.jpg') 
			   top center no-repeat;
			  background-size: cover;
			  h2{
				font-size: 2rem;
			  }
		  }				
  }
  .timeline-item:nth-child(5) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .4)), url('../images/timeline/11.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }				
  }
  
  .timeline-item:nth-child(6) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .4)), url('../images/timeline/3.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }				
  }

  .timeline-item:nth-child(7) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .5)), url('../images/timeline/2.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }				
  }
      
  .timeline-item:nth-child(8) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .65)), url('../images/timeline/1.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }				
  }
  .timeline-item:nth-child(9) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .5)), url('../images/timeline/9.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }				
  }

  .timeline-item:nth-child(10) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .1)), url('../images/timeline/13.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }				
  }
  .timeline-item:nth-child(11) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .5)), url('../images/timeline/21.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }				
  }

  .timeline-item:nth-child(12) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .5)), url('../images/timeline/22.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }	
		  h2{
			font-size: 2.2rem;
		  }			
  }
  
  .timeline-item:nth-child(13) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .5)), url('../images/timeline/14.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }				
  }

  .timeline-item:nth-child(14) {
	.timeline-img-header {
			  background: linear-gradient(rgba(0,0,0,0),
			   rgba(0,0,0, .1)), url('../images/timeline/15.jpg') 
			   center center no-repeat;
			  background-size: cover;
		  }				
  }
         
.timeline-img-header {

	height: 300px;
	position: relative;
	margin-bottom: 20px;

	h2 {
		color: $text;
		position: absolute;
		bottom: 5px;
		left: 20px;
        font-size: 3rem;
	}
}

blockquote {
	margin-top: 30px;
	color: $secondary-text;
	border-left-color: $primary;
	padding: 0 20px;
}

.date {
	background: $primary;
	display: inline-block;
	color: $text;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and (max-width: 768px) {

	.timeline {

		&::before {
			left: 50px;
		}

		.timeline-img {
			left: 50px;
		}

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}
		.timeline-img-header {

			h2 {

				font-size: 2rem;
			}
		}

		.timeline-item {

			&:nth-child(even) {

				.timeline-content {
					float: none;

				}
			}

			&:nth-child(odd) {

				.timeline-content {
					
					&::after {
						content: '';
						position: absolute;
						border-style: solid;
						width: 0;
						height: 0;
						top: 30px;
						left: -15px;
						border-width: 10px 15px 10px 0;
						border-color: transparent #f5f5f5 transparent transparent;
					}
				}

			}
		}
	}
	
}
