/* home new */


.home__ristrel {
    height: 100vh;
    background: linear-gradient(
        rgba(46, 45, 45, 0.3),
        var(--oscuroT)
      ),
      url("../images/fondobyn.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 9px -5px rgba(94,94,94,0.67);
    
   .logo__homep{
     height: 700px;
     max-width: 800px;
     padding-top: 150px;
   }

    .home__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.8));
        color: var(--claro);
        text-shadow: 1px 1px 2px var(--oscuro);
        height: 100%;
        width: 100vw;
        font-size: 1.5rem;
        position: relative;
        
        .main__title{
            // font-size: 3rem;
            // text-transform: uppercase;
            // text-align: center;
            display: none;
        }

        .flecha__container{
          position: relative;
          display: flex;
          width: 100vw;
          height: 40vh;
          align-items: flex-end;
          justify-content: center;
          align-content:flex-end;
          text-decoration: none;

        }
          .flecha{
            color: var(--claro);
            font-size: 50px;
            text-align: center;
        
          }   
      }
  }
  