/* home new */
.home__ristrel {
    height: 100vh;
    background: linear-gradient(
        rgba(240, 240, 240, 0.3),
        var(--oscuroT)
      ),
      url("../images/bife.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 9px -5px rgba(94,94,94,0.67);

    .home__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.8));
        color: var(--claro);
        text-shadow: 1px 1px 2px var(--oscuro);
        height: 100%;
        font-size: 1.5rem;
        position: relative;
        
        .main__title{
            font-size: 3rem;
            text-transform: uppercase;
            text-align: center;
          }

          .flecha{
            position: absolute;
            bottom: 70px;
            left: 48.5%;
            text-decoration: none;
            color: var(--claro);
            font-size: 50px;
            text-align: center;
        
          }

          .boton__home{
            background:var(--medio);
            width: 100px;
            height: 50px;
            text-align: center;
            padding: 5px;
            text-decoration: none;
            color: var(--claro);
            transition: all 0.5s;
            border-radius: 30px;
                 &:hover{
                    background: rgb(44, 44, 44);
                    color: white;
                    width: 110px;
                }
        }
        
      }

  }
  