.us, .us__2{
    display: flex;
    // justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background: var(--claro);
    padding-bottom: 40px;
    padding-top: 60px;
    box-shadow: 7px 7px 9px -5px rgba(94,94,94,0.67);
}

.us{
    margin-top: 15px;
    h2{
        font-size: 4.5rem;
    }
}
.us__2{
    background: var(--oscuro);
    
    flex-direction: row-reverse;
    h2{
        font-size: 2.5rem;
        color: var(--claro);
        margin-bottom: 15px;
        text-align: center;
    }
    p{
        color: var(--claro);
    }
    .us__container2{
        height: 350px;
        width: clamp(350px,40%,45%);
        background: url("../images/viejo.jpg");
        background-size: cover;
        transition: all 1s;
        margin-bottom: 20px;
              &:hover{
                background: url("../images/snack.png");
                background-size: cover;
            
            }
    }

}


.us__container{
    min-height: 450px;
    width: clamp(450px,40%,45%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 0 12px 0 12px;
    

    p{
        font-size: clamp(1.1rem,1.2rem,2rem);
    }
    .us__image__container{
        width: 95%;
        transition: width 1s;
        box-shadow: 7px 7px 9px -5px rgba(94,94,94,0.4);
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.8));

    }

    
    .us__image__resto{
        border-radius: 50%;
        object-fit: contain;
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
    }
    

}

.resto__web{
    .subtitulo__nosotros{
    color: var(--oscuro);
    font-size: 2rem;
    }
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 60px;
    padding-top: 50PX;
    background: var(--medio);
    // background: var(--oscuro);
    // background: linear-gradient(
    //     rgba(46, 45, 45, 0.3),
    //     var(--oscuroT)
    //   ),
    //   url("../images/fondobyn.svg");
    // background-size: cover;
    // background-position: bottom;
    // background-repeat: no-repeat;
    h2{
        font-size: 6rem;
    }
    h3{
        font-size: 4rem;
    }
    .resto__imgc{
        width: 800px;
    }
    .us__container__resto{
        height: 500px;
        width: 500px;
        border-radius: 50%;
        background: url("../images/bife.jpg");
        background-size: cover;
        box-shadow: var(--sombra);
    
    }
}

.snack__web{
    @extend .resto__web;
    background: var(--claro);
    // background: linear-gradient(
    //     rgba(46, 45, 45, 0.3),
    //     var(--oscuroT)
    //   ),
    //   url("../images/fondo.svg");
    .us__container__resto{
        background:  url("../images/snack.png");
}
    .subtitulo__nosotros{
        color: var(--medio);
    }
}

.borde__us{
    width: 100vw;
    height: 30px;
    background: linear-gradient(
        rgba(46, 45, 45, 0.3),
        var(--oscuroT)
      ),
      url("../images/fondo.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.resto__mov{
    height: 50vh;
    width: 100vw;
    background: linear-gradient(
        rgba(83, 83, 83, 0.699),
        var(--oscuroT)
        ),
        url("../images/fondobyn.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--claro);
    margin-top: 0;
    display: none;
    img{
        width: 400px;
    }

}

.snack__mov{
    @extend.resto__mov;
    background: linear-gradient(
        rgba(83, 83, 83, 0.699),
        var(--oscuroT)
        ),
        url("../images/fondo.svg");
    background-size: cover;
    
}

.boton__home{
    background:var(--oscuro);
    width: 100px;
    height: 50px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: var(--claro);
    transition: all 0.5s;
    box-shadow: var(--sombra);
    border-radius: 5px;
    font-size: 1.5rem;
         &:hover{
            background: rgb(44, 44, 44);
            color: white;
            width: 110px;
        }
}