.us, .us__2{
    display: flex;
    // justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background: var(--claro);
    padding-bottom: 40px;
    padding-top: 60px;
    box-shadow: 7px 7px 9px -5px rgba(94,94,94,0.67);
}

.us{
    margin-top: 15px;
    h2{
        font-size: 4.5rem;
    }
}
.us__2{
    background: var(--oscuro);
    
    flex-direction: row-reverse;
    h2{
        font-size: 2.5rem;
        color: var(--claro);
        margin-bottom: 15px;
        text-align: center;
    }
    p{
        color: var(--claro);
    }
    .us__container2{
        height: 350px;
        width: clamp(350px,40%,45%);
        background: url("../images/viejo.jpg");
        background-size: cover;
        transition: all 1s;
        margin-bottom: 20px;
              &:hover{
                background: url("../images/snack.png");
                background-size: cover;
            
            }
    }

}


.us__container{
    min-height: 450px;
    width: clamp(450px,40%,45%);
    @include centrarcajas;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 12px 0 12px;
    h2{
        margin: 0;
    }
    h3{
        margin: 0 0 20px 0;
    }

    p{
        font-size: clamp(1.1rem,1.5rem,2rem);
    }
    .us__image__container{
        width: 95%;
        transition: width 1s;
        box-shadow: 7px 7px 9px -5px rgba(94,94,94,0.4);
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.8));
        border-radius: 5px;
    }

    
    .us__image__resto{
        border-radius: 50%;
        object-fit: contain;
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
    }

    .subtitulo__nosotros{
        color: var(--medio);
        font-size: 2rem;
        }
}

.us__container2{
    @extend .us__container;
}
.resto__web{
    .subtitulo__nosotros{
    color: var(--claro);
    font-size: 2rem;
    }
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 60px;
    padding-top: 50PX;
    @include fondoresto;

    background-repeat: no-repeat;
    h2{
        font-size: 6rem;
    }
    h3{
        font-size: 4rem;
    }
    .resto__imgc{
        width: 800px;
    }
    .us__container__resto{
        height: 500px;
        width: 500px;
        border-radius: 50%;
        background: url("../images/bife.jpg");
        background-size: cover;
        box-shadow: var(--sombra);
    
    }
}

.snack__web{
    @extend .resto__web;
    background: var(--claro);
    .us__container__resto{
        background:  url("../images/snack.png");
}
    .subtitulo__nosotros{
        color: var(--medio);
    }
}

.resto__mov{
    height: 50vh;
    width: 100vw;
    @include fondoresto;
    @include centrarcajas;
    color: var(--claro);
    margin-top: 0;
    display: none;
    img{
        width: 400px;
    }
}

.snack__mov{
    @extend.resto__mov;
    background: linear-gradient(
        rgba(83, 83, 83, 0.699),
        var(--oscuroT)
        ),
        url("../images/fondo.svg");
    background-size: cover;
    
}

.boton__home{
    @include botonhome;
}

.boton__home2{
    @include botonhome;
    background: var(--claro);
    color: var(--oscuro)
}